/* Importando a fonte Altteron */
@font-face {
  font-family: 'Altteron';
  src: url('fonts/Altteron.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5e1c2a;
  font-family: 'Segoe UI', sans-serif;
  color: #e3c889;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  min-height: 100vh;
}

/* Container principal */
.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Logo */
.logo img {
  width: 100%;
  margin-bottom: -90px;
}

/* Título com Altteron */
h1 {
  font-family: 'Altteron', serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #e3c889;
}

/* Subtítulo */
.subtitulo {
  font-size: 0.9rem;
  color: #cba960;
  margin-top: 5px;
}

/* CREFITO */
.crefito {
    margin-top: -55px;
  font-size: 0.60rem;
  margin: 10px 0 30px;s
}

/* Botões */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background-color: transparent;
  border: 2px solid #e3c889;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #e3c889;
  color: #5e1c2a;
  transform: scale(1.03);
}

/* Ícones (Font Awesome) */
.btn i {
  font-size: 1.2rem;
}
